@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/Archangelsk.eot");
  src: local("Archangelsk"),
    url("../fonts/Archangelsk.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Archangelsk.woff") format("woff"),
    url("../fonts/Archangelsk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
